In [1]:
pip install pandas

Requirement already satisfied: pandas in /workspaces/Proyecto_Final_Grupo_8/.venv/lib/python3.9/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in /workspaces/Proyecto_Final_Grupo_8/.venv/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/Proyecto_Final_Grupo_8/.venv/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: pytz>=2020.1 in /workspaces/Proyecto_Final_Grupo_8/.venv/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/Proyecto_Final_Grupo_8/.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /workspaces/Proyecto_Final_Grupo_8/.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.0.1 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("/workspaces/Proyecto_Final_Grupo_8/pandas/Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

In [4]:
def costo_promedio2(x):
    def crear_funcion_costo(num):
        polinomio= [23,2,num]
        c101=0
        c100=0
        exponente=0
        for k in polinomio:
            c101+=k*(101)**exponente
            c100+=k*(100)**exponente
            exponente+=1
        return (c101-c100)/(101-100)
    return crear_funcion_costo(x[4])

In [5]:
df["Valores Reales Punto 2"]=df.apply(costo_promedio2, axis=1 )

/tmp/ipykernel_12736/140529635.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return crear_funcion_costo(x[4])

In [6]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Valores Reales Punto 1,Nota Punto 1,Valores Reales Punto 2,Nota Punto 2,Valores Reales Punto 3,Nota Punto 3
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202,5
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602,5
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402,5
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802,5
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402,5
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202,5
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202,1
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402,5
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,1,6202,1
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202,1
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802,1
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002,5
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202,5
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402,1
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602,1
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602,1
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202,1

In [7]:
def calificacion_P2(x):
    if x[1]==x[5]:
        return 5
    else:
        return 1

In [8]:
df["Nota Punto 2"]=df.apply(calificacion_P2, axis=1)

/tmp/ipykernel_12736/3492547345.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if x[1]==x[5]:

In [9]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Valores Reales Punto 1,Nota Punto 1,Valores Reales Punto 2,Nota Punto 2,Valores Reales Punto 3,Nota Punto 3
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202,5
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602,5
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402,5
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802,5
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402,5
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202,5
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202,1
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402,5
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,1,6202,1
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202,1
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802,1
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002,5
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202,5
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402,1
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602,1
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602,1
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202,1

In [10]:
def costo_marginal(x):
    def crear_funcion_costo(num):
        polinomio= [2,2*num]
        c100=0
        exponente=0
        for k in polinomio:
            c100+=k*(100)**exponente
            exponente+=1
        return c100
    return crear_funcion_costo(x[4])

In [11]:
df["Valores Reales Punto 3"]= df.apply(costo_marginal, axis=1)

/tmp/ipykernel_12736/1330558048.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return crear_funcion_costo(x[4])

In [12]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Valores Reales Punto 1,Nota Punto 1,Valores Reales Punto 2,Nota Punto 2,Valores Reales Punto 3,Nota Punto 3
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,1,6202.0,1
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1

In [13]:
columna_object_idx = 3  # posición de la columna de tipo object

#Se procede a cambiar los valores con comas, por punto

df.iloc[:, columna_object_idx] = (
    df.iloc[:, columna_object_idx]
      .astype(str)
      .str.replace(",", ".", regex=False)
)

#Ahora se cambian todas las columnas a tipo numerico

df.iloc[:, columna_object_idx] = pd.to_numeric(df.iloc[:, columna_object_idx], errors="coerce")

/tmp/ipykernel_12736/1118410583.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     7202.0
1     8602.0
2     8402.0
3     4802.0
4     5402.0
5     6202.0
6        2.0
7     7402.0
8       62.0
9     8202.0
10     6.202
11       2.0
12    7002.0
13    6202.0
14      76.0
15    5600.0
16       1.0
17    366.82
Name: Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales), dtype: object' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[:, columna_object_idx] = (

In [14]:
def calificacion_P3(x):
    if x[3]==x[9]:
        return 5
    else:
        return 1

In [15]:
df["Nota Punto 3"]= df.apply(calificacion_P3, axis=1)

/tmp/ipykernel_12736/3925088704.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if x[3]==x[9]:

In [16]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Valores Reales Punto 1,Nota Punto 1,Valores Reales Punto 2,Nota Punto 2,Valores Reales Punto 3,Nota Punto 3
0,1021674384,7382.000,7238.000,7202.0,36,7382.0,5,7238.0,5,7202.0,5
1,1028481694,8817.000,8645.000,8602.0,43,8817.0,5,8645.0,5,8602.0,5
2,1012976628,8612.000,8444.000,8402.0,42,8612.0,5,8444.0,5,8402.0,5
3,1103500518,4922.000,4826.000,4802.0,24,4922.0,5,4826.0,5,4802.0,5
4,1141316451,5537.000,5429.000,5402.0,27,5537.0,5,5429.0,5,5402.0,5
5,1127228530,6357.000,6233.000,6202.0,31,6357.0,5,6233.0,5,6202.0,5
6,1000794960,7382.000,7238.000,2.0,36,7382.0,5,7238.0,5,7202.0,1
7,1019606644,389866.330,3739.230,7402.0,37,7587.0,1,7439.0,1,7402.0,5
8,1104224296,6356.600,6233.000,62.0,31,6357.0,1,6233.0,1,6202.0,1
9,1094049572,8407.000,8243.000,8202.0,41,8407.0,5,8243.0,5,8202.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1
11,1028485597,10047.000,9851.000,2.0,49,10047.0,5,9851.0,5,9802.0,1
12,1013037578,7177.000,7037.000,7002.0,35,7177.0,5,7037.0,5,7002.0,5
13,1113364165,6357.000,6233.000,6202.0,31,6357.0,5,6233.0,5,6202.0,5
14,1140914656,7587.000,7439.000,76.0,37,7587.0,5,7439.0,5,7402.0,1
15,1011095164,5740.000,5620.000,5600.0,28,5742.0,1,5630.0,1,5602.0,1
16,1193231792,175.000,152.000,1.0,38,7792.0,1,7640.0,1,7602.0,1
17,1077228324,7382.000,7238.000,366.82,36,7382.0,5,7238.0,5,7202.0,1

In [17]:
df.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv",index=False)
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Valores Reales Punto 1,Nota Punto 1,Valores Reales Punto 2,Nota Punto 2,Valores Reales Punto 3,Nota Punto 3
0,1021674384,7382.000,7238.000,7202.0,36,7382.0,5,7238.0,5,7202.0,5
1,1028481694,8817.000,8645.000,8602.0,43,8817.0,5,8645.0,5,8602.0,5
2,1012976628,8612.000,8444.000,8402.0,42,8612.0,5,8444.0,5,8402.0,5
3,1103500518,4922.000,4826.000,4802.0,24,4922.0,5,4826.0,5,4802.0,5
4,1141316451,5537.000,5429.000,5402.0,27,5537.0,5,5429.0,5,5402.0,5
5,1127228530,6357.000,6233.000,6202.0,31,6357.0,5,6233.0,5,6202.0,5
6,1000794960,7382.000,7238.000,2.0,36,7382.0,5,7238.0,5,7202.0,1
7,1019606644,389866.330,3739.230,7402.0,37,7587.0,1,7439.0,1,7402.0,5
8,1104224296,6356.600,6233.000,62.0,31,6357.0,1,6233.0,1,6202.0,1
9,1094049572,8407.000,8243.000,8202.0,41,8407.0,5,8243.0,5,8202.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1
11,1028485597,10047.000,9851.000,2.0,49,10047.0,5,9851.0,5,9802.0,1
12,1013037578,7177.000,7037.000,7002.0,35,7177.0,5,7037.0,5,7002.0,5
13,1113364165,6357.000,6233.000,6202.0,31,6357.0,5,6233.0,5,6202.0,5
14,1140914656,7587.000,7439.000,76.0,37,7587.0,5,7439.0,5,7402.0,1
15,1011095164,5740.000,5620.000,5600.0,28,5742.0,1,5630.0,1,5602.0,1
16,1193231792,175.000,152.000,1.0,38,7792.0,1,7640.0,1,7602.0,1
17,1077228324,7382.000,7238.000,366.82,36,7382.0,5,7238.0,5,7202.0,1