In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp39-cp39-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-2.0.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/Proyecto_Final_Grupo_8/.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /workspaces/Proyecto_Final_Grupo_8/.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp39-cp39-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 49.0 MB/s  0:00:006m0:00:01
Downloading numpy-2.0.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.5/19.5 MB 49.3 MB/s  0:00:006m0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]2m3/4 [pandas]
Successfully installed numpy-2.0.2 pandas-2.3.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv("/workspaces/Proyecto_Final_Grupo_8/pandas/Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

In [21]:
df.head(18)

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Valores Reales Punto 1,Nota Punto 1,Valores Reales Punto 2,Nota Punto 2,Valores Reales Punto 3,Nota Punto 3,Nota Final
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.000000
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.000000
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.000000
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.000000
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.000000
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.666667
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.333333
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,1,6202.0,1,1.000000
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.000000
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.000000
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.666667
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.000000
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.666667
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.000000
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.000000
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.666667

In [24]:
def sumar_digitos(x):
    def sumar(numero):
        num= str(numero)
        suma= 0
        for k in num:
            suma+=int(k)
        return suma
    return sumar(x[0])

In [25]:
df["n"]= df.apply(sumar_digitos,axis=1)

/tmp/ipykernel_17443/2834566458.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return sumar(x[0])

ValueError: invalid literal for int() with base 10: '.'

In [26]:
df.head(5)

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Valores Reales Punto 1,Nota Punto 1,Valores Reales Punto 2,Nota Punto 2,Valores Reales Punto 3,Nota Punto 3,Nota Final
0,1021674384,7382.0,7238.0,7202.0,36,7382.0,5,7238.0,5,7202.0,5,5.0
1,1028481694,8817.0,8645.0,8602.0,43,8817.0,5,8645.0,5,8602.0,5,5.0
2,1012976628,8612.0,8444.0,8402.0,42,8612.0,5,8444.0,5,8402.0,5,5.0
3,1103500518,4922.0,4826.0,4802.0,24,4922.0,5,4826.0,5,4802.0,5,5.0
4,1141316451,5537.0,5429.0,5402.0,27,5537.0,5,5429.0,5,5402.0,5,5.0

In [27]:
def costo_promedio(x):
    def crear_funcion_costo(num):
        polinomio= [23,2,num]
        c105=0
        c100=0
        exponente=0
        for k in polinomio:
            c105+=k*(105)**exponente
            c100+=k*(100)**exponente
            exponente+=1
        return (c105-c100)/(105-100)
    return crear_funcion_costo(x[4])

In [28]:
df["Valores Reales Punto 1"]=df.apply(costo_promedio, axis=1)

/tmp/ipykernel_17443/4127172185.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return crear_funcion_costo(x[4])

In [13]:
df.head(5)

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Valores Reales Punto 1
0,1021674384,7382.0,7238.0,7202.00,36,7382.0
1,1028481694,8817.0,8645.0,8602,43,8817.0
2,1012976628,8612.0,8444.0,8402,42,8612.0
3,1103500518,4922.0,4826.0,4802.00,24,4922.0
4,1141316451,5537.0,5429.0,5402,27,5537.0

In [14]:
def calificacion_P1(x):
    if x[1]==x[5]:
        return 5
    else:
        return 1

In [15]:
df["Nota Punto 1"]=df.apply(calificacion_P1, axis=1)

/tmp/ipykernel_3074/1609183944.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if x[1]==x[5]:

In [16]:
df.head(5)

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Valores Reales Punto 1,Nota Punto 1
0,1021674384,7382.0,7238.0,7202.00,36,7382.0,5
1,1028481694,8817.0,8645.0,8602,43,8817.0,5
2,1012976628,8612.0,8444.0,8402,42,8612.0,5
3,1103500518,4922.0,4826.0,4802.00,24,4922.0,5
4,1141316451,5537.0,5429.0,5402,27,5537.0,5

In [17]:
df_p1= df[["Número de documento",'Sea la función de costo C(x) = n*x^2 + 2*x + 23.\xa0\nHallar el costo promedio de producir\xa0 de 100 a 105 unidades (Poner dos decimales)',"n", "Valores Reales Punto 1","Nota Punto 1"  ]]

In [18]:
df_p1

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),n,Valores Reales Punto 1,Nota Punto 1
0,1021674384,7382.000,36,7382.0,5
1,1028481694,8817.000,43,8817.0,5
2,1012976628,8612.000,42,8612.0,5
3,1103500518,4922.000,24,4922.0,5
4,1141316451,5537.000,27,5537.0,5
5,1127228530,6357.000,31,6357.0,5
6,1000794960,7382.000,36,7382.0,5
7,1019606644,389866.330,37,7587.0,1
8,1104224296,6356.600,31,6357.0,1
9,1094049572,8407.000,41,8407.0,5
10,1025062924,6.357,31,6357.0,1
11,1028485597,10047.000,49,10047.0,5
12,1013037578,7177.000,35,7177.0,5
13,1113364165,6357.000,31,6357.0,5
14,1140914656,7587.000,37,7587.0,5
15,1011095164,5740.000,28,5742.0,1
16,1193231792,175.000,38,7792.0,1
17,1077228324,7382.000,36,7382.0,5

In [20]:
df.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index = False)

In [21]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Valores Reales Punto 1,Nota Punto 1
0,1021674384,7382.000,7238.000,7202.00,36,7382.0,5
1,1028481694,8817.000,8645.000,8602,43,8817.0,5
2,1012976628,8612.000,8444.000,8402,42,8612.0,5
3,1103500518,4922.000,4826.000,4802.00,24,4922.0,5
4,1141316451,5537.000,5429.000,5402,27,5537.0,5
5,1127228530,6357.000,6233.000,6202,31,6357.0,5
6,1000794960,7382.000,7238.000,2.00,36,7382.0,5
7,1019606644,389866.330,3739.230,7402.00,37,7587.0,1
8,1104224296,6356.600,6233.000,62,31,6357.0,1
9,1094049572,8407.000,8243.000,8202,41,8407.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1
11,1028485597,10047.000,9851.000,2,49,10047.0,5
12,1013037578,7177.000,7037.000,7002,35,7177.0,5
13,1113364165,6357.000,6233.000,6202.00,31,6357.0,5
14,1140914656,7587.000,7439.000,76,37,7587.0,5
15,1011095164,5740.000,5620.000,5600,28,5742.0,1
16,1193231792,175.000,152.000,1,38,7792.0,1
17,1077228324,7382.000,7238.000,"366,82",36,7382.0,5

In [29]:
df.rename(columns={'Nota Punto 1':'CP1'})

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Valores Reales Punto 1,CP1,Valores Reales Punto 2,Nota Punto 2,Valores Reales Punto 3,Nota Punto 3,Nota Final
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.000000
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.000000
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.000000
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.000000
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.000000
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.666667
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.333333
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,1,6202.0,1,1.000000
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.000000
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.000000
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.666667
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.000000
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.666667
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.000000
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.000000
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.666667

In [40]:
df= df.rename(columns={'Nota Punto 1':'CP1'})

In [42]:
df.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index = False)

In [41]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),n,Valores Reales Punto 1,CP1,Valores Reales Punto 2,Nota Punto 2,Valores Reales Punto 3,Nota Punto 3,Nota Final
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.000000
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.000000
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.000000
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.000000
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.000000
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.666667
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.333333
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,1,6202.0,1,1.000000
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.000000
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.000000
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.666667
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.000000
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.666667
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.000000
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.000000
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.666667

In [6]:
from funciones import promedios

In [7]:
promedios(df,"NF")

'El promedio de la columna NF, es: 3.6666666666666665.'

In [8]:
promedios(df,"NFF")

'Error al procesar la columna.'